body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.navbuttons{
    margin-top: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: aquamarine;
    background-color: #497174;
    padding: 10px;
    border-radius: 5px;
    
    
    
}
.navbuttons a{
    text-decoration: none;
    font-style: none;
    color: #EB6440;
    background-color: #EFF5F5;
    border-radius: 10px;
    padding: 5px;
    
    
}

body{
    background-color: #D6E4E5;
}

span{
    font-weight: bolder;
    color: #EB6440;
}






.headings{
    display: flex;
    flex-direction: column;
    margin-left:35%;
    margin-top: 10%;
}

.h1{
    text-align: left;
}

.web-developer-img{
    width: 500px;
    align-self: right;
    border-radius: 10px;
}


.projects{
    margin-left: 10%;
    margin-top: 100px;
    display: grid;
    height: 100vh;
    gap: 5 px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "p1 p2 p3"
    "p4 p5 p6"
    
}

.project1{
    grid-area: p1;
}
.project2{
    grid-area: p2;
}

.project3{
    grid-area: p3;
}

.project4{
    grid-area: p4;

}

.project5{
    grid-area: p5;
}


.h2{
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 0px;
    font-size: 2rem;

}

.skillsp{
    text-align: center;
}


@media  (max-width: 768px) {


    .web-developer-img{
        width: 280px;
        align-self: left;
        border-radius: 10px;

    }
    .projects{
        margin-top: 100px;
        margin-left: 1rem;
        display: grid;
        height: 100vh;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "p1 p2"
        "p3 p4"
        "p5 p6"
        
    }
    .headings{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    margin-top: 35%;
}
    .h4{
        font-size: 0.8rem;
        margin-bottom: 100px;
    }
   


    
}